.cardGrid {
    @apply border h-[20.188rem] rounded flex flex-col hover:shadow-md transition-all mb-[1.5rem] last:mb-0
    px-[2.5rem] py-8 justify-center items-start;

    .date {
        margin-bottom: 1.25rem;

        .number {
            @apply text-[1.75rem] font-black;
            line-height: 150%;
            color: var(--primary-color);
        }

        .month {
            @apply text-[1.75rem] font-bold;
            line-height: 150%;
            color: var(--primary-color);

        }

        .time {
            .hours {
                line-height: 160%;
                color: var(--gray-700)
            }
        }
    }

    .text {
        margin-bottom: 1.5rem;

        .title {
            @apply text-[1.125rem] leading-[150%] mb-[0.5rem] font-bold;
        }

        .type {
            @apply leading-[160%] first-letter:uppercase;
            color: var(--gray-700);
        }
    }

    .button {
        @apply text-[0.875rem] leading-[2.75rem] last-of-type:mt-auto
        border rounded px-8 font-bold transition-all hover:text-white w-full;
        color: var(--primary-color);
        border-color: var(--primary-color);

        &:hover {
            background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        }
    }
}

.cardList {
    @apply border h-[9.625rem] rounded flex hover:shadow-md transition-all mb-[1.5rem] last:mb-0
    px-[2.5rem] py-8 justify-start items-center;

    .date {
        @apply flex;

        .number {
            @apply text-[3rem] font-black tracking-wider;
            line-height: 130%;
            color: var(--primary-color);
        }

        .time {
            @apply ml-5 mr-10 flex flex-col justify-center items-start;
            .month {
                line-height: 150%;
                font-weight: 700;
                font-size: 1.25rem;
            }

            .hours {
                line-height: 160%;
                color: var(--gray-700);
            }
        }
    }

    .text {
        .title {
            @apply text-[1.25rem] leading-[150%] font-bold;
        }

        .type {
            @apply leading-[160%] first-letter:uppercase;
            color: var(--gray-700)
        }
    }

    .button {
        @apply text-[0.875rem] leading-[2.75rem] last-of-type:ml-auto
        border rounded px-8 font-bold transition-all hover:text-white;
        color: var(--primary-color);
        border-color: var(--primary-color);

        &:hover {
            background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        }
    }
}

